Build
Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/

EnableUnity.txt
DisableSharedPCH.txt
Shaders/VoxelEngineVersion.ush